div.top-pad {
  padding-top: 95px
}

div.top-pad-more {
  padding-top: 135px
}

.nav-item {
  font-size: 20px;
}

table.photo-list td{
  border: none;
  font-weight: bold;
}

p.h5.sponsor-header {
  color: #4286f4;
}